
<div class="wrapper wrapper-content" style="padding-top:0px">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="padding-top:10px">
                    <h4>เอกสารฉบับร่าง</h4>

                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row" id="" style="">
                        <div id="" class="col-lg-12" style="padding-bottom: 100px;">
                            <div class="col-md-8 col-md-offset-2">
                                <table style="width:100%">
                                    <tr>
                                        <td id="fpM1" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            01 แบบสอบถามลูกค้าสนใจเช่า-ซื้อต่อห้องชุด TH (5-8-2022).pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc1" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="01_แบบสอบถามลูกค้าสนใจเช่า-ซื้อต่อห้องชุด_TH_(5-8-2022)">
                                                <i class="fa fa-folder-open-o" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc1" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="01_แบบสอบถามลูกค้าสนใจเช่า-ซื้อต่อห้องชุด_TH_(5-8-2022)">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="1" value="1" style="margin: 5px;" class="btnUploadDraftDoc" >
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM2" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            02 หนังสือขอความยินยอมข้อมูลส่วนบุคคล TH__Eng GUD_5_1.pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc2" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="02_หนังสือขอความยินยอมข้อมูลส่วนบุคคล_TH_Eng_GUD_5_1">
                                                <i class="fa fa-folder-open-o" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc2" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="02_หนังสือขอความยินยอมข้อมูลส่วนบุคคล_TH_Eng_GUD_5_1">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="2" value="2" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM3" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            03 แบบฟอร์มการแจ้งใช้สิทธิของเจ้าของข้อมูลส่วนบุคคล TH GUD_12_0.pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc3" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="03_แบบฟอร์มการแจ้งใช้สิทธิของเจ้าของข้อมูลส่วนบุคคล_TH_GUD_12_0">
                                                <i class="fa fa-folder-open-o" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc3" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="03_แบบฟอร์มการแจ้งใช้สิทธิของเจ้าของข้อมูลส่วนบุคคล_TH_GUD_12_0">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="3" value="3" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM4" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            04 แบบฟอร์มการแจ้งกรณีการละเมิดข้อมูลส่วนบุคคล TH GUD_13_0.pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc4" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="04_แบบฟอร์มการแจ้งกรณีการละเมิดข้อมูลส่วนบุคคล_TH_GUD_13_0">
                                                <i class="fa fa-folder-open-o" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc4" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="04_แบบฟอร์มการแจ้งกรณีการละเมิดข้อมูลส่วนบุคคล_TH_GUD_13_0">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="4" value="4" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM5" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            05 ข้อตกลงการประมวลผลข้อมูลส่วนบุคคล (DPA) TH GUD_8_0.pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc5" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="05_ข้อตกลงการประมวลผลข้อมูลส่วนบุคคล_(DPA)_TH_GUD_8_0">
                                                <i class="fa fa-folder-open-o" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width: 150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc5" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID=""  data-link="05_ข้อตกลงการประมวลผลข้อมูลส่วนบุคคล_(DPA)_TH_GUD_8_0">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="5" value="5" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM6" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            06 สัญญาแต่งตั้งตัวแทน นายหน้า จัดหาผู้เช่า และผู้ซื้อห้องชุด th__eng (5-8-2022).pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc6" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="06_สัญญาแต่งตั้งตัวแทน_นายหน้า_จัดหาผู้เช่า_และผู้ซื้อห้องชุด_TH_Eng(5-8-2">
                                                <i class="fa fa-folder-open-o" style="font-size: 30px; margin-right: 10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc6" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="06_สัญญาแต่งตั้งตัวแทน_นายหน้า_จัดหาผู้เช่า_และผู้ซื้อห้องชุด_TH_Eng(5-8-2">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="6" value="6" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM7" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            07 หนังสือจองเช่าห้องชุดในอาคารชุด TH__Eng final 18-12-2020.pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc7" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="07_หนังสือจองเช่าห้องชุดในอาคารชุด_TH_Eng_final_18-12-2020">
                                                <i class="fa fa-folder-open-o" style="font-size: 30px; margin-right: 10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc7" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="07_หนังสือจองเช่าห้องชุดในอาคารชุด_TH_Eng_final_18-12-2020">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="7" value="7" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM8" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            08 สัญญาเช่าห้องชุดพักอาศัย th__eng (5-8-2022).pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc8" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="08_สัญญาเช่าห้องชุดพักอาศัย_TH_Eng(5-8-2022)">
                                                <i class="fa fa-folder-open-o" style="font-size: 30px; margin-right: 10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc8" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="08_สัญญาเช่าห้องชุดพักอาศัย_TH_Eng(5-8-2022)">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="8" value="8" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM9" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            09 สัญญาจะซื้อจะขายห้องชุด (ห้อง Resale) TH__Eng (5-8-2022).pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc9" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="09_สัญญาจะซื้อจะขายห้องชุด_(ห้อง Resale)_TH_Eng_(5-8-2022)">
                                                <i class="fa fa-folder-open-o" style="font-size: 30px; margin-right: 10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc9" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="09_สัญญาจะซื้อจะขายห้องชุด_(ห้อง Resale)_TH_Eng_(5-8-2022)">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="9" value="9" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM10" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            10 สัญญาเช่าสถานที่ ภายในอาคารชุด สำหรับนิติบุคคล TH (26-04-2022).pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc10" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="10_สัญญาเช่าสถานที่_ภายในอาคารชุด_สำหรับนิติบุคคล_TH_(26-04-2022)">
                                                <i class="fa fa-folder-open-o" style="font-size: 30px; margin-right: 10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc10" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="10_สัญญาเช่าสถานที่_ภายในอาคารชุด_สำหรับนิติบุคคล_TH_(26-04-2022)">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="10" value="10" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM11" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            11 สัญญาเช่าสถานที่ ภายในอาคารชุด สำหรับบุคคลธรรมดา TH (5-8-2022).pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc11" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="11_สัญญาเช่าสถานที่_ภายในอาคารชุด_สำหรับบุคคลธรรมดา_TH_(5-8-2022)">
                                                <i class="fa fa-folder-open-o" style="font-size: 30px; margin-right: 10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc11" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="11_สัญญาเช่าสถานที่_ภายในอาคารชุด_สำหรับบุคคลธรรมดา_TH_(5-8-2022)">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="11" value="11" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM12" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            12 สัญญานายหน้า Co Agent (Revised 23-2-2022 เพิ่ม PDPA) (สำหรับนิติบุคคล).pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc12" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="12_สัญญานายหน้า_Co_Agent_(Revised_23-2-2022_เพิ่ม_PDPA)_(สำหรับนิติบุคคล)">
                                                <i class="fa fa-folder-open-o" style="font-size: 30px; margin-right: 10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc12" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="12_สัญญานายหน้า_Co_Agent_(Revised_23-2-2022_เพิ่ม_PDPA)_(สำหรับนิติบุคคล)">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="12" value="12" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM13" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            13 สัญญานายหน้า Co Agent (Revised 23-2-2022 เพิ่ม PDPA) (สำหรับบุคคลธรรมดา).pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc13" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="13_สัญญานายหน้า_Co_Agent_(Revised_23-2-2022_เพิ่ม_PDPA)_(สำหรับบุคคลธรรมดา)">
                                                <i class="fa fa-folder-open-o" style="font-size: 30px; margin-right: 10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc13" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="13_สัญญานายหน้า_Co_Agent_(Revised_23-2-2022_เพิ่ม_PDPA)_(สำหรับบุคคลธรรมดา)">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="13" value="13" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="fpM14" style="padding-left: 10px;border-bottom: solid 1px #efefef;">
                                            14 แบบสอบถามลูกค้าที่สนใจเช่า-ซื้อต่อห้องชุด + PDPA Eng GUD_18_0 update 12-07-65.pdf
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="OpenDoc14" style="margin: 5px;" class="btnDraftDoc" data-DraftDocumentAttachmentID="" data-link="14_แบบสอบถามลูกค้าที่สนใจเช่า-ซื้อต่อห้องชุด_PDPA_Eng_GUD_18_0_update_12-07-">
                                                <i class="fa fa-folder-open-o" style="font-size: 30px; margin-right: 10px"></i><font style="top: -5px;position: relative;">เปิดดูเอกสาร</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="LoadDoc14" style="margin: 5px;" class="btnDownloadDraftDoc" data-DraftDocumentAttachmentID="" data-link="14_แบบสอบถามลูกค้าที่สนใจเช่า-ซื้อต่อห้องชุด_PDPA_Eng_GUD_18_0_update_12-07-">
                                                <i class="fa fa-cloud-download" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">ดาวน์โหลด</font>
                                            </button>
                                        </td>
                                        <td style="width:150px;border-bottom: solid 1px #efefef;">
                                            <button type="button" id="14" value="14" style="margin: 5px;" class="btnUploadDraftDoc">
                                                <i class="fa fa-file-text" style="font-size:30px;margin-right:10px"></i><font style="top: -5px;position: relative;">อัพโหลดเอกสาร</font>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--model dialog-->

<div class="modal" tabindex="-1" id="UploadModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;margin:30px  auto">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" id="btnHistory" style="margin: 5px;" class="btnHistory">
                        <i class="fa fa-history" style="font-size:24px;margin-right:10px"></i><font style="top: -5px;position: relative;">ประวัติ</font>
                    </button>*@
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="padding-top:3px ; margin-bottom:10px">
                    <div class="row">
                        <div class="col-md-10col-md-offset-1 col-xs-12">
                            <input type="hidden" id="txtDraftDocumentID" />
                            <table id="tableDraftDocumentRec" style="width:100%">
                                <thead>
                                    <tr style="font-size: 15px;">
                                        @*<td style="padding-left: 1px; padding-bottom: 10px;" ></td>*@
                                        <td style="padding-left: 10px; padding-bottom: 10px; text-align: center; border-bottom: solid 1px #efefef; ">ไฟล์เอกสาร</td>
                                        <td style="padding-left: 10px; padding-bottom: 10px; text-align: center; border-bottom: solid 1px #efefef;">ผู้อัพโหลด</td>
                                        <td style="padding-left: 10px; padding-bottom: 10px; text-align: center; border-bottom: solid 1px #efefef;">วันที่</td>
                                        <td style="padding-left: 10px; padding-bottom: 10px; border-bottom: solid 1px #efefef;"></td>
                                        <td style="padding-left: 10px; padding-bottom: 10px; border-bottom: solid 1px #efefef;"></td>
                                    </tr>
                                </thead>
                                <tbody id="tbody2DraftDocument"></tbody>
                            </table>
                            <div id="load" style="display:none ;text-align:center ; margin: 15px;font-size:15px">
                                Please wait...
                                <img src="//s.svgbox.net/loaders.svg?fill=maroon&ic=tail-spin" style="width:24px">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <br />
                    <input id="DraftDocumentFileUpload" name="FileUpload" style="font-size: 15px; margin-left:7px" type="file" accept="image/png, image/jpeg,.pdf"><br />
                    <p style="margin-left: 7px; margin-top: -15px; margin-bottom: 15px; color: red ; font-size: 12px; "> *เฉพาะไฟล์ .pdf, .png, .jpeg (ขนาดไฟล์ไม่เกิน 5 MB ) </p>
                    &nbsp;
                    <input id="insertNewFile" style="font-size: 15px;color:black" type="submit" value="เพิ่มไฟล์">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnHistory" style="margin: 1px;" class="btnHistory">
                    <i class="fa fa-history" style="font-size:24px;margin-right:10px"></i><font style="top: -5px;position: relative;">ประวัติ</font>
                </button>
            </div>
        </div>
    </div>
</div>



<!--History model dialog-->
<div class="modal" tabindex="-1" id="HistoryModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;margin:10px  auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="HistoryClose">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="padding-top: 3px; margin-bottom: 10px; height: 600px; overflow-y: auto; overflow-x: hidden; ">
                    <div class="row">
                        <div class="col-md-10col-md-offset-1 col-xs-12">
                            <table id="tableDraftDocumentHistoryRec" style="width:100%">
                                <thead>
                                    <tr style="font-size: 15px;">
                                        <td style="padding: 8px; background: lightgray; color: black; border-top-left-radius: 10px; border-bottom-left-radius: 10px; text-align: center; border-bottom: solid 1px #efefef;">ไฟล์เอกสาร</td>
                                        <td style="padding: 8px; background: lightgray; color: black; text-align: center; border-bottom: solid 1px #efefef; ">ประเภท</td>
                                        <td style="padding: 8px; background: lightgray; color: black; border-top-right-radius: 10px; border-bottom-right-radius: 10px; text-align: center; border-bottom: solid 1px #efefef; ">ผู้แก้ไขเอกสาร</td>
                                    </tr>
                                </thead>
                                <tbody id="tbody2HistoryDraftDocument"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



@*----------------------- Import CSS---------------------- *@
@Styles.Render("~/plugins/footableStyles")
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
@Styles.Render("~/plugins/select2Styles")
@Styles.Render("~/plugins/dataPickerStyles")
@Styles.Render("~/plugins/sweetAlertStyles")
@Styles.Render("~/Content/plugins/iCheck/iCheckStyles")

@*-------------------------------------------------------- *@

@*------------------ Import JavaScript-------------------- *@
@Scripts.Render("~/plugins/footable")
@Scripts.Render("~/plugins/dataTables")
@Scripts.Render("~/plugins/select2")
@Scripts.Render("~/plugins/dataPicker")
@Scripts.Render("~/plugins/sweetAlert")
@Scripts.Render("~/plugins/iCheck")
@*-------------------------------------------------------- *@

<script src="~/Scripts/Main/JS_Main.js"></script>
<script src="~/Scripts/Main/Utility.js"></script>
<script src="~/Scripts/Main/date.format.js"></script>


<script src="~/waitMe/waitMe.min.js"></script>
<link href="~/waitMe/waitMe.min.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {

        $('.btnDraftDoc').click(function () {
            var filename = encodeURIComponent($(this).data("link"));

            var url = '@Url.Action("LoadDraftDocument", "DMPS_DraftDocument")?Filename=' + filename;
            window.open(url);

            DraftDocumentAttachmentHistory($(this).data("DraftDocumentAttachmentID"), 2);

        });

        $('.btnDownloadDraftDoc').click(function () {
            var fn = $(this).data("link");
            var filename = encodeURIComponent(fn);
            var url = '@Url.Action("LoadDraftDocument", "DMPS_DraftDocument")?Filename=' + filename;
            var a = document.createElement("a");
            document.body.appendChild(a);
            a.href = url;
            a.download = fn.replace(/^.*[\\\/]/, '') || "download-" + $.now()
            a.click();

            DraftDocumentAttachmentHistory($(this).data("DraftDocumentAttachmentID"), 3);
        });


        $("#1,#2,#3,#4,#5,#6,#7,#8,#9,#10,#11,#12,#13,#14").click(function () {
            var ddf = $(this).val();
            $("#tbody2DraftDocument").empty();
            $("#DraftDocumentFileUpload").val("");
            LoadData2UploadDraftDocument(ddf);
            LoadDataHistory(ddf);
            $('#UploadModal').modal('show');
        });

        function LoadData2UploadDraftDocument(ddf) {

            var url = '@Url.Action("LoadData2UploadDraftDocument", "DMPS_DraftDocument")';
            var DraftDocumentid = ddf;

            $.post(url,
            {
                DraftDocumentid, DraftDocumentid,

            }, function (result) {
                var obj = $.parseJSON(result);

                $("#tbody2DraftDocument").empty();

                for (var i = 0; i < obj.length; i++) {

                    var dt = obj[i].RevisedDateTime;
                    var datef = dt.substr(6, 10);

                    var timestamp = datef * 1000;
                    var date = new Date(timestamp);
                    var df = date.format('dd/mm/yyyy');


                    var fp = obj[i].FilePath.replace(/^.*[\\\/]/, '');

                    $("#tableDraftDocumentRec").append(
                        '<tr class="tr2DraftDocument" style="padding: 10px; border-bottom: solid 1px #efefef;text-align:center"><td class="tdDraftDocumentAtid" style="padding: 10px; text-align: left;" hidden>' + obj[i].DraftDocumentAttachmentID
                        + '</td><td class="tdFilePath" style="padding: 10px; text-align: left;"><a name = "btnDDView"' + i + ' href="../' + obj[i].FilePath + '" target="_blank">' + fp
                        + '</a></td><td class="tdUser" style="padding: 10px; text-align: center;">' + obj[i].RevisedBy
                        + '</td><td class="tdDateTime" style="padding: 10px; text-align: center;">' + df
                        + '</td><td  name="tdButtDownload" class="tdButtDownload" style="padding-bottom: 10px;padding-top: 10px;" data-link="' + obj[i].FilePath + '"><button name ="btnDraftDocumentDownload"' + i + ' style="font-size:15px"><i class="fa fa-cloud-download"></i></button>'
                        + '</td><td  name="tdButtDel" class="tdButtDel" style="padding-bottom: 10px;padding-top: 10px;"><button name ="btnDraftDocumentDel"' + i + ' style="font-size:15px"><i class="fa fa-trash-o"></i></button></td></tr>');

                }

                LoadFileNameMain(DraftDocumentid);

                $("#txtDraftDocumentID").val(DraftDocumentid);

                $('.tdButtDownload').click(function () {
                    var btnload = $(this).data("link");
                    var filename = encodeURIComponent(btnload);
                    var url = '@Url.Action("LoadDraftDocument", "DMPS_DraftDocument")?Filename=' + filename;
                    var a = document.createElement("a");
                    document.body.appendChild(a);
                    a.href = url;
                    a.download = btnload.replace(/^.*[\\\/]/, '') || "download-" + $.now()
                    a.click();

                    var DraftDocumentAttID = $(this).closest('tr.tr2DraftDocument').find('.tdDraftDocumentAtid').html();
                    DraftDocumentAttachmentHistory(DraftDocumentAttID, 3);
                    LoadDataHistory(DraftDocumentid);
                });

                $("[name^='btnDraftDocumentDel']").click(function () {
                    var btn = $(this);
                    swal({
                        title: "ยืนยันการลบข้อมูล?",
                        text: "คุณต้องการลบข้อมูลนี้",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#64dd54",
                        confirmButtonText: "Yes, Delete it!",
                        closeOnConfirm: true
                    }, function () {

                        var DraftDocumentAttID = btn.closest('tr.tr2DraftDocument').find('.tdDraftDocumentAtid').html();
                        DeleteDraftDocumentAttachments(DraftDocumentAttID);

                        var DraftDocumentFP = btn.closest('tr.tr2DraftDocument').find('a').attr('href');
                        DeleteDraftDocumentFiltPath(DraftDocumentFP);

                        DraftDocumentAttachmentHistory(DraftDocumentAttID, 4);
                        LoadDataHistory(DraftDocumentid);
                    });

                });

                $("[name^='btnDDView']").click(function () {
                    var btn = $(this);
                    var DraftDocumentAttID = btn.closest('tr.tr2DraftDocument').find('.tdDraftDocumentAtid').html();
                    DraftDocumentAttachmentHistory(DraftDocumentAttID, 2);
                    LoadDataHistory(DraftDocumentid);
                });

            });
        }

        function LoadDataHistory(ddf){
            var url = '@Url.Action("LoadDataHistory", "DMPS_DraftDocument")';

            var DraftDocumentid = ddf;

            $.post(url, {
                DraftDocumentid: DraftDocumentid,

            }, function (result) {
                var obj = $.parseJSON(result);

                $("#tbody2HistoryDraftDocument").empty();

                for (var i = 0; i < obj.length; i++) {

                    //Newtime Realtime
                    var dth = obj[i].RevisedDateTime;
                    var datefh = dth.substr(6, 10);

                    var timestamp = datefh * 1000;
                    var date = new Date(timestamp);
                    var dfh = date.format('dd/mm/yyyy');

                    var times = new Date(timestamp).toLocaleTimeString("en-GB")

                    //time at create
                    var dtc = obj[i].RevisedDateTime_create;
                    var dtcreate = dtc.substr(6, 10);

                    var timescreate = dtcreate * 1000;
                    var date = new Date(timescreate);
                    var dtcrate = date.format('dd/mm/yyyy');

                    var times_create = new Date(timescreate).toLocaleTimeString("en-GB")

                    //filepath
                    var fph = obj[i].FilePath.replace(/^.*[\\\/]/, '');

                    $("#tableDraftDocumentHistoryRec").append(
                        '<tr class="tr2HistoryDraftDocument"><td class="tdDraftDocumentHistoryAtid" style="padding: 10px; text-align: left;" hidden>' + obj[i].DraftDocumentAttachmentID
                        + '</td><td class="tdHistoryFilepath" style="border-bottom: solid 1px #efefef; padding: 10px;"><font style="font-size: 15px; text-align: left;">' + fph
                        + '</font><br /><font style="font-size: 12px;color:gray; text-align: left;">โดย ' + obj[i].em_name_t_create + "  " + obj[i].em_surname_t_create + " เมื่อ " + dtcrate + " " + times_create
                        + '</font></td ><td class="tdHistoryStatus" style="font-size: 15px; padding: 10px; text-align: center; border-bottom: solid 1px #efefef;"><font style="font-size: 15px;"><button type="button" disabled>' + obj[i].StatusDescription
                        + '</button ></font></td><td class="tdHistoryName" style="border-bottom: solid 1px #efefef; text-align: center; padding: 10px;"><font style="font-size: 15px; ">' + obj[i].em_name_t + "  " + obj[i].em_surname_t
                        + '</font><br /><font style="font-size: 12px;color:gray; ">เมื่อ ' + dfh + " " + times
                        + '</font></td></tr >');

                }
            })

        }


        function showLoadFileNameMain(DraftDocumentid) {
            for (var i = 1; i <= 14; i++) {
                LoadFileNameMain(i);
                
            }
        }


        showLoadFileNameMain();

        function LoadFileNameMain(DraftDocumentid) {
            var url = '@Url.Action("LoadFileNameMain", "DMPS_DraftDocument")';

            $.post(url,
                {
                    DraftDocumentid, DraftDocumentid,

                }, function (result) {
                    var result = $.parseJSON(result);
                    //var fpm = result.replace(/^.*[\\\/]/, '');
                    //var fpm = result.split('\\').pop().split('/').pop();
                             
                    var fpm = result.FilePath.split('\\').pop().split('/').pop();
                    if (DraftDocumentid == 1) {
                        $("#fpM1").html(fpm);
                        $("#OpenDoc1").data("link", result.FilePath);
                        $("#LoadDoc1").data("link", result.FilePath);

                        $("#OpenDoc1").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc1").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);


                    }
                    if (DraftDocumentid == 2) {
                        $("#fpM2").html(fpm);
                        $("#OpenDoc2").data("link", result.FilePath);
                        $("#LoadDoc2").data("link", result.FilePath);

                        $("#OpenDoc2").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc2").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        

                    }
                    if (DraftDocumentid == 3) {
                        $("#fpM3").html(fpm);
                        $("#OpenDoc3").data("link", result.FilePath);
                        $("#LoadDoc3").data("link", result.FilePath);

                        $("#OpenDoc3").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc3").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);

                    }
                    if (DraftDocumentid == 4) {
                        $("#fpM4").html(fpm);
                        $("#OpenDoc4").data("link", result.FilePath);
                        $("#LoadDoc4").data("link", result.FilePath);

                        $("#OpenDoc4").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc4").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);

                    }
                    if (DraftDocumentid == 5) {
                        $("#fpM5").html(fpm);
                        $("#OpenDoc5").data("link", result.FilePath);
                        $("#LoadDoc5").data("link", result.FilePath);

                        $("#OpenDoc5").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc5").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);

                    }
                    if (DraftDocumentid == 6) {
                        $("#fpM6").html(fpm);
                        $("#OpenDoc6").data("link", result.FilePath);
                        $("#LoadDoc6").data("link", result.FilePath);

                        $("#OpenDoc6").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc6").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);

                    }
                    if (DraftDocumentid == 7) {
                        $("#fpM7").html(fpm);
                        $("#OpenDoc7").data("link", result.FilePath);
                        $("#LoadDoc7").data("link", result.FilePath);

                        $("#OpenDoc7").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc7").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);

                    }
                    if (DraftDocumentid == 8) {
                        $("#fpM8").html(fpm);
                        $("#OpenDoc8").data("link", result.FilePath);
                        $("#LoadDoc8").data("link", result.FilePath);

                        $("#OpenDoc8").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc8").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);

                    }
                    if (DraftDocumentid == 9) {
                        $("#fpM9").html(fpm);
                        $("#OpenDoc9").data("link", result.FilePath);
                        $("#LoadDoc9").data("link", result.FilePath);

                        $("#OpenDoc9").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc9").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);

                    }
                    if (DraftDocumentid == 10) {
                        $("#fpM10").html(fpm);
                        $("#OpenDoc10").data("link", result.FilePath);
                        $("#LoadDoc10").data("link", result.FilePath);

                        $("#OpenDoc10").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc10").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);

                    }
                    if (DraftDocumentid == 11) {
                        $("#fpM11").html(fpm);
                        $("#OpenDoc11").data("link", result.FilePath);
                        $("#LoadDoc11").data("link", result.FilePath);

                        $("#OpenDoc11").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc11").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);

                    }
                    if (DraftDocumentid == 12) {
                        $("#fpM12").html(fpm);
                        $("#OpenDoc12").data("link", result.FilePath);
                        $("#LoadDoc12").data("link", result.FilePath);

                        $("#OpenDoc12").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc12").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);

                    }
                    if (DraftDocumentid == 13) {
                        $("#fpM13").html(fpm);
                        $("#OpenDoc13").data("link", result.FilePath);
                        $("#LoadDoc13").data("link", result.FilePath);

                        $("#OpenDoc13").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc13").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                       

                    }
                    if (DraftDocumentid == 14) {
                        $("#fpM14").html(fpm);
                        $("#OpenDoc14").data("link", result.FilePath);
                        $("#LoadDoc14").data("link", result.FilePath);

                        $("#OpenDoc14").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                        $("#LoadDoc14").data("DraftDocumentAttachmentID", result.DraftDocumentAttachmentID);
                       

                    }
                })
        }

        /* loading*/
        $(document).ajaxSend(function () {
            $("#load").show();
        });

        $(document).ajaxComplete(function () {
            $('#load').hide();
        });

        /*/History click show/hide popup*/
        $("#btnHistory").click(function () {
            LoadDataHistory($("#txtDraftDocumentID").val());
            $('#HistoryModel').modal('show');
            $('#UploadModal').modal('hide');

        });

        $("#HistoryClose").click(function () {
            $('#HistoryModel').modal('hide');
            $('#UploadModal').modal('show');
        });

        /* เพิ่มไลฟ์*/
        $('#insertNewFile').click(function () {
            var msg = validate();
            if (msg != "") {
                swal({
                    title: "ผิดพลาด",
                    text: msg,
                    icon: "warning",
                    button: "Ok"
                });

            } else {
                swal({
                    title: "ยืนยันการบันทึกข้อมูล?",
                    text: "คุณต้องการบันทึกข้อมูลนี้",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#64dd54",
                    confirmButtonText: "Yes, Save it!",
                    closeOnConfirm: true
                }, function () {

                    var fileUpload = $("#DraftDocumentFileUpload").get(0);
                    var path = "Attachment/Draft/" + $("#txtDraftDocumentID").val() + "/";
                    var files = fileUpload.files;

                    UploadFile("DraftDocumentFileUpload", path);

                    // path = path + files[0].name;  //Decode url
                    AddDraftDocumentAttachments($("#txtDraftDocumentID").val());

                    LoadFileNameMain($("#txtDraftDocumentID").val());
                });

            }

        });

        function UploadFile(fluID, path) {
            if (window.FormData !== undefined) {

                var fileUpload = $("#" + fluID).get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    //fileData.append(replaceFileName(files[i].name), files[i]);
                    fileData.append("file" + i, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('key', fluID);
                fileData.append('strPath', path);

                return $.ajax({
                // url: '/DMPS_DepositRoom/UploadFiles',
                url: '@Url.Action("UploadFiles", "DMPS_DraftDocument")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        return result
                    },
                    error: function (err) {
                        return "False";
                    }
                });
            }
        }


        function validate() {
            var MAX_FILE_SIZE = 5 * 1024 * 1024; // 5MB
            var msg = "";
            for (var i = 0; i < $(".tdFilePath").length; i++) {
                var FilePathName = $(".tdFilePath")[i].textContent;
                if ($("#DraftDocumentFileUpload").val().replace(/^.*[\\\/]/, '') == FilePathName) {
                    msg = "ไฟล์นี้มีอยู่แล้ว";
                    break;
                }
            }

            if ($("#DraftDocumentFileUpload").val().length == 0) {
                msg = "กรุณาเลือกไฟล์";
            }
            else if ($("#tableDraftDocumentRec tr").length > 5) {
                msg = "เกินขีดจำกัดการเพิ่มไฟล์ กรุณาลบไฟล์ก่อนทำการเพิ่มไฟล์ใหม่";
            }
            else if ($("#DraftDocumentFileUpload")[0].files[0].size > MAX_FILE_SIZE) {
                msg = "ขนาดไฟล์เกิน 5 MB";
            }

            return msg;

        }



        function AddDraftDocumentAttachments(DraftDocumentid)
        {
            var url = '@Url.Action("AddDraftDocumentAttachments", "DMPS_DraftDocument")';
            var emp_id = $("#EmpID").val();
            //var DraftDocumentid = $("#txtDraftDocumentID").val();
            var DraftDocumentpath = "Attachment/Draft/" + DraftDocumentid + "/" + $("#DraftDocumentFileUpload").val().replace(/^.*[\\\/]/, '');

            $.post(url, {
                emp_id: emp_id,
                DraftDocumentid: DraftDocumentid,
                DraftDocumentpath: DraftDocumentpath,

            }, function (result) {
                var obj = $.parseJSON(result);
                var DDAH = obj.toString();

                //var DraftDocument = $("#txtDraftDocumentID").val();
                LoadData2UploadDraftDocument(DraftDocumentid);

                $("#DraftDocumentFileUpload").val("");
                DraftDocumentAttachmentHistory(DDAH, 1);
                LoadDataHistory(DraftDocumentid);
            });

        }


        function DeleteDraftDocumentAttachments(DraftDocumentAttID)
        {
            var url = '@Url.Action("DeleteDraftDocumentAttachments", "DMPS_DraftDocument")';

            var DraftDocumentAtid = DraftDocumentAttID;

            $.post(url, {
                DraftDocumentAtid: DraftDocumentAtid,

            }, function (result) {

                var DraftDocument = $("#txtDraftDocumentID").val();

                LoadData2UploadDraftDocument(DraftDocument);

            });

        }


        function DeleteDraftDocumentFiltPath(DraftDocumentFP)
        {
            var url = '@Url.Action("DeleteDraftDocumentFiltPath", "DMPS_DraftDocument")';

            var DraftDocumentFilePath = DraftDocumentFP;

            $.post(url, {
                DraftDocumentFilePath: DraftDocumentFilePath,

            }, function (result) {

            });

        }

        function DraftDocumentAttachmentHistory(DraftDocumentAttHistoryID, StatusID)
        {
            var url = '@Url.Action("DraftDocumentAttachmentHistory", "DMPS_DraftDocument")';

            var emp_id = $("#EmpID").val();
            var staID = StatusID;
            var DDAHID = DraftDocumentAttHistoryID;

            $.post(url, {
                DDAHID: DDAHID,
                emp_id: emp_id,
                staID: staID,

            }, function (result) {

            });

        }



    });

</script>